<div class="add-answer">
    <form>
      <div class="form-group">
        <label for="author">Name</label>
        {{input value=author id="author"}}
      </div>

      <div class="form-group">
        <label for="body">Answer</label>
        {{input value=body id="body"}}
      </div>

      <button class="btn btn-success"{{action 'saveAnswer'}}>Save</button>
    </form>
</div>
