<div>
  <ul class="list-group">
    {{#each answers as |answer|}}
      <li class="list-group-item">
        <h4>By: {{answer.author}}</h4>
        <p>
          {{answer.body}}
        </p>
      </li>
    {{/each}}
  </ul>
</div>
