<div class="question-view">
  <h4>{{question.title}}</h4>
  <h5>Asked by: {{question.author}}</h5>
  <p>{{question.notes}}</p>
</div>
<div class="answers">
  {{add-answer saveAnswer='saveAnswer' question=question}}
</div>
