<div class="question-view">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{question.title}}</h3>
    </div>
    <div class="panel-body">
      <p>
        {{question.notes}}
      </p>
      <h4>Asked by: {{question.author}}</h4>
    </div>
  </div>

</div>
