<div>
  {{#link-to 'question' question}}
  <h3>{{question.title}}</h3>
  <h5>Asked by: {{question.author}}</h5>
  {{/link-to}}
  {{update-question question=question update="update"}}
  <button {{action 'delete' question}}>Delete Question</button>
</div>
