<div class="container">

  <div class="jumbotron">
    <h3>Welcome</h3>
  </div>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      {{#link-to 'index'}}Home{{/link-to}}
    </div>

  </nav>
</div>
