{{outlet}}
<div>
  <h3>Questions</h3> {{add-question saveQuestion='saveQuestion'}}
  <ul class="list-group">
    {{#each model.questions as |question|}}
      <li class="list-group-item">{{question-tile question=question update="update" destroyQuestion="destroyQuestion"}}
      </li>
    {{/each}}
  </ul>
</div>
